<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=-"UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 렌더링 페이지</title>
	
	<link rel="stylesheet" href="/css/scan/rendering.css">

</head>
<body>
	
	<div id="detailContainer">
		<div id="optionDiv">
			<a href="/files" id="allFile"> 전체 스캔 조회 </a>
		</div>
		<div id="fileDiv">
			<img th:src="${uploadedFile}" id="detailFile">		
		</div>
	</div>
		
</body>
</html>